/***********************************************/
/*             Pablo Camino Vázquez            */
/*   Boston Celtics PAGE                       */
/*                26/05/2023                   */
/*         Primera Version                     */
/***********************************************/


/* Tunear la barra de navegación */
nav {position:sticky !important; 
        top:0;
        opacity: 0.95;
        z-index: 99; }